<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Code Verification</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">  
</head>
<body>
<div class ="card-wrapper">
<div class="card">
<form action="/jwtgenerate" method="post">
    <p>by <b>FutureGuide</b></p>
    <b>Generate your JWT</b> 
    <input type="submit" value="Generate" class="btn">
</div>
</div>
</form>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/scripts.js"></script>

</body>
</html>